html {
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}

/* Account Sign In Shopping Component Styles */
.account-section {
    margin-top: 1em;
}

/* Button Component Styles */
.action-btn {
    background-color: #d51546;
    color: #fff;
    border: 0;
}
.action-btn:hover {
    background-color: #a61136;
    color: #fff;
}