html {
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;
}



/* Button Component Styles */
.action-btn {
    background-color: #d51546;
    color: #fff;
    border: 0;
}
.action-btn:hover {
    background-color: #a61136;
    color: #fff;
}
.read-more-btn {
    background-color: #57c6cd;
    color: #fff;
    border: 0;
}
.read-more-btn:hover {
    background-color: #48a4ab;
    color: #fff;
}
.load-btn {
    background-color: #cc9880;
    color: #fff;
    border: 0;
}
.load-btn:hover {
    background-color: #a17865;
    color: #fff;
}
/* End of Button */



/* Social Icon Styles */
.social-icon {
    margin-right: 1.5em;
}
.social-icon:last-child {
    margin: 0;
}

/* Account Sign In Shopping Component Styles */
.account-section {
    margin-top: 1em;
}
/* End of Account/Sign In/Shopping */



/* Navigation Component Styles */
.nav {
    background-color: #57c6cd;
}
img.logo-img {
    max-height: 64px;
}
a.nav-item:first-child {
    margin-right: 1.5em;
}
a.nav-item {
    font-size: 1.250em;
    color: #321e13;
}
a.nav-item:hover {
    color: #fff;
}
div#nav-columns {
    margin-bottom: 0;
}
div#nav-columns > div.column {
    padding-bottom: 0;
}
/* End of Navigation */

/* Card Component Styles */
div.card-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2em;
    flex-wrap: wrap;
}
div.voh-card-3 {
    width: 31.33%;
    margin-bottom: 1.5em;
}
figure.voh-video > video {
    width: 100%;
}

/* Top Header Component */
div#top-header > h1 {
    font-size: 2.500em;
    color: #321e13;
}


/* Home Hero Component Styles */
section#home-hero {
    background-image: url('../images/home-hero-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    color: #fff;
}
h1#home-hero-title {
    font-size: 5.000em;
    font-weight: 700;
    margin-bottom: .5em;
}
h2#home-hero-subtitle {
    font-size: 2.000em;
}
div#home-hairstyle-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}
span.select {
    margin-top: 2em;
}
select#home-find-hairstyle {
    background: none;
    border: 0;
    border-bottom: 2px solid #fff;
}
div#home-hairstyle-dropdown > a {
    margin-top: 2em;
}
/* End of Hero Component */

/* Social Input Component */
div.social-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}
img.input-scl-icon {
    margin-right: 1em;
}

/* For Stylists */
div.fr-stylists-frm > label, div.fr-stylists-frm > p.control > label {
    font-size: 1.5em;
    margin: 1em 0;
}
div.fr-stylists-form-container {
    display: flex;
    flex-direction: column;
}
div.fr-stylists-frm-intro {
    margin-bottom: 2em;
}
div.fr-stylists-frm-intro h1 {
    color: #57c6cd;
    font-size: 2em;
}
div.fr-stylists-frm-intro h2 {
    color: #414e61;
    font-size: 1.5em;
}
label.fr-stylist-check-radio > input {
    margin-left: 1em;
}
label.fr-stylist-check-radio > input {
    margin-right: .5em;
}
div.fr-stylists-form-container > div#load-more-container {
    align-self: center;
}

/* Find Stylist Hero Component */
section#find-stylists-hero {
    background-image: url('../images/find-stylist-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    color: #fff;
    margin-bottom: 2em;
}

/* For Stylists Hero Component */
section#for-stylists-hero {
    background-image: url('../images/for-stylists-hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    color: #fff;
    margin-bottom: 2em;
    background-size: cover;
}

/* Footer Component Styles */
footer.footer {
    background: #321e13;
    color: #fff;
    padding-bottom: 40px;
    margin-top: 2em;
}
div#left-footer-section, div#right-footer-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
div#footer-logo {
    margin-right: 1.5em;
}
div#footer-logo > a {
    border: 0;
}
#footer-slogan > p{
    font-size: 1.5em
}
#footer-join-slogan {
    margin-right: 1.5em;
}
#footer-join-slogan > p {
    font-size: 1.5em;
}
#footer-join-btn > a, #footer-join-btn > a:hover {
    color: #fff;
    border: 0;
}
div#footer-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div#footer-social-icons > a {
    border: 0;
}
div#bottom-footer {
    padding: 2em;
    color:#828c8e;
    font-size: 0.813em;
}
div#bottom-footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div#bottom-footer-links > a {
    color: #828c8e;
}
div#bottom-footer-links > a:hover {
    color: #57c6cd;
}
/* End of Footer */



/* About Page */
div.about-title > h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
    color:#828c8e;
}
div.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.about-media {
    text-align: center;
}
div#about-social-icons {
    margin: 1em;
}
div.about-content > h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 35px;
    color: #321e13;
}
div.about-content > h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 30px;
    color: #57c6cd;
    margin-bottom: 0.75em;
}
div.about-content > p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #828c8e;
    margin: 0.5em;
}
div.about-video {
    text-align: center;
}
/* End of About Page */


/* How It Works Components */
div#home-hiw {
    border-bottom: #828c8e solid 2px;
    padding-bottom: 2em;
}
div#hiw-header {
    margin-bottom: 1em;
    font-size: 2.500em;
}
div#hiw-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div#hiw-links > a {
    color: #321e13;
}
div#hiw-links > a:hover {
    color: #d51546;
}
div.hiw-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.hiw-image {
    margin-bottom: 1em;
}
/* End Of How It Works */



/* Featured Stylist Component Styles */
section#featured-stylists {
    padding-top: 1.250em;
}
div#fs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of Featured Stylist */


/* Social Sidebar Component Styles */
div#social-sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid #321e13;
    padding: 2.5em;
}
div.scl-sb-header {
    border-bottom: 1px solid #3d4d65;
    padding-bottom: .5em;
    margin-bottom: 1em;
}
div.scl-sb-header > h2 {
    font-size: 1.5em;
}
div.scl-sb-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
span.scl-sb-icon {
    margin-right: 1em;
}
span.scl-sb-icon:last-child {
    margin-right: 0;
}
span.scl-sb-icon > a {
    color: #3d4d65;
}
span.scl-sb-icon > a:hover {
    color: #414e61;
}
span.scl-sb-icon > a > i.fa {
    font-size: 32px;
}
/* End Of Social Sidebar Component */



/* Home Instagram Social Plugin Component */
div#hm-scl-header > h1 {
    font-size: 2.5em;
    color: #321e13;
}

/* Find Stylist Hero Search */
div#fnd-styl-hero-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
div#fnd-stl-search {
    padding: 1.5em;
    background: #828c8e;
}
div#fnd-stl-search-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
div#fnd-stl-search-input-container > p.control {
    margin: 0;
}
div#fnd-stl-search-input-container > p > span.select {
    margin: 0;
    margin-right: 1em;
}

/* Blog Component Styles */
div#blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Sidebar Newsletter Component */
div#sidebar-ad {
    width: 100%;
}
div#sidebar-ad img {
    width: 100%;
    display: block;
}
div.sidebar-newsletter {
    width: 100%;
    background: #321e13;
    color: #fff;
    padding: 1em;
}
div.sb-nl-text {
    margin-bottom: 1em;
}
div.sb-nl-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.sb-nl-form > p:first-child {
    margin-right: 1em;
}

/* Sidebar VOH Contributors Component */
div.sidebar-contributors {
    width: 100%;
    background: #321e13;
    color: #57c6cd;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}
div.sb-contr-header {
    margin-bottom: 1em;
}
div.sb-contr-header > h1 {
    font-size: 2em;
}
div.sb-contr-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.sb-contr-img {
    width: 23%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
}

/* Sidebar Social Icons Component */
div.sidebar-social-section {
    width: 100%;
    padding: 1em;
    border: 1px solid #321e13;
    margin-top: 2em;
}
div.sb-scl-header {
    margin-bottom: 1em;
}
div.sb-scl-header > h1 {
    font-size: 1.5em;
    color: #321e13;
}
div.sb-scl-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div.sb-scl-icons > a:not(:last-child) {
    margin-right: 1em;
}
