html {
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

/* Button Component Styles */
.action-btn {
    background-color: #d51546;
    color: #fff;
    border: 0;
}
.action-btn:hover {
    background-color: #a61136;
    color: #fff;
}

/* Social Icon Styles */
.social-icon {
    margin-right: 1.5em;
}
.social-icon:last-child {
    margin: 0;
}

/* Account Sign In Shopping Component Styles */
.account-section {
    margin-top: 1em;
}

/* Navigation Component Styles */
.nav {
    background-color: #57c6cd;
}
img.logo-img {
    max-height: 64px;
}
a.nav-item:first-child {
    margin-right: 1.5em;
}
a.nav-item {
    font-size: 1.250em;
    color: #321e13;
}
a.nav-item:hover {
    color: #fff;
}
div#nav-columns {
    margin-bottom: 0;
}
div#nav-columns > div.column {
    padding-bottom: 0;
}

/* Hero Component Styles */
section#home-hero {
    background-image: url('../images/home-hero-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    color: #fff;
}
h1#home-hero-title {
    font-size: 5.000em;
    font-weight: 700;
    margin-bottom: .5em;
}
h2#home-hero-subtitle {
    font-size: 2.000em;
}
div#home-hairstyle-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}
span.select {
    margin-top: 2em;
}
select#home-find-hairstyle {
    background: none;
    border: 0;
    border-bottom: 2px solid #fff;
}
div#home-hairstyle-dropdown > a {
    margin-top: 2em;
}
/* Footer Component Styles */
footer.footer {
    background: #321e13;
    color: #fff;
    padding-bottom: 40px;
}
div#left-footer-section, div#right-footer-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
div#footer-logo {
    margin-right: 1.5em;
}
div#footer-logo > a {
    border: 0;
}
#footer-slogan > p{
    font-size: 1.5em
}
#footer-join-slogan {
    margin-right: 1.5em;
}
#footer-join-slogan > p {
    font-size: 1.5em;
}
#footer-join-btn > a, #footer-join-btn > a:hover {
    color: #fff;
    border: 0;
}
div#footer-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
div#footer-social-icons > a {
    border: 0;
}
div#bottom-footer {
    padding: 2em;
    color:#828c8e;
    font-size: 0.813em;
}
div#bottom-footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div#bottom-footer-links > a {
    color: #828c8e;
}
div#bottom-footer-links > a:hover {
    color: #57c6cd;
}