<!DOCTYPE html>
<html lang="en" ng-app="vohApp">
<head>
    <meta charset="UTF-8">
    <title>Voice Of Hair</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="css/font-awesome.min.css"> 
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="stylistCtrl">
    <!-- User Account Section -->
    <div class="columns">
        <div class="column is-2 is-offset-10 account-section">
            <a href="#" class="button is-outlined action-btn">Sign In</a>
        </div>
    </div>

    <!-- Navigation Section -->
    <nav class="nav">
        <div class="nav-left">
            <a href="index.html" class="nav-item">
                <img src="images/logo.png" alt="" class="logo-img">
            </a>
            <a href="index.html" class="nav-item">HOME</a>
            <a href="about.html" class="nav-item">ABOUT</a>
            <a href="find-stylist.html" class="nav-item">FIND STYLISTS</a>
            <a href="#" class="nav-item">PRODUCTS</a>
            <a href="experts.html" class="nav-item">EXPERTS</a>
            <a href="for-stylists.html" class="nav-item">FOR STYLISTS</a>
            <a href="gallery.html" class="nav-item">HAIRSPIRATION</a>
            <a href="blog.html" class="nav-item">BLOG</a>
            <a href="courses.html" class="nav-item">COURSES</a>
        </div>
        <!-- end of nav-left -->
    </nav>    

    <!-- Featured Stylists Header -->
    <section class="section" id="top-header">
        <div class="container">
            <div class="columns">
                <div class="column is-12 has-text-centered">
                    <div id="top-header">
                        <h1>Find A Stylist</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

        

    <!-- Hero Section -->
    <section class="hero" id="find-stylists-hero">
        <div class="hero-body" id="fnd-styl-hero-body">
            <div class="container">
                <div id="fnd-stl-search">
                    <div id="fnd-stl-search-input-container">
                        <p class="control">
                            <span class="select is-large">
                                <select ng-model="data.location" name="fnd-styl-location" id="fnd-styl-location">
                                    <option value="">Enter Location</option>
                                    <option value="Houston, TX">Houston, TX</option>
                                    <option value="Atlanta, GA">Atlanta, GA</option>
                                    <option value="Los Angeles, CA">Los Angeles, CA</option>
                                    <option value="St. Louis, MO">St. Louis, MO</option>
                                </select>
                            </span>
                        </p>
                        <p class="control">
                            <span class="select is-large">
                                <select ng-model="data.hairstyle" name="fnd-styl-location" id="fnd-styl-location">
                                    <option value="">Hairstyle</option>
                                    <option value="bobcuts">bobcuts</option>
                                    <option value="braids">braids</option>
                                    <option value="bun">bun</option>
                                    <option value="bunches">bunches</option>
                                </select>
                            </span>
                        </p>
                        <p class="control">
                            <button ng-click="searchForStylists(data.location, data.hairstyle)" class="button action-btn is-medium">Search</button>
                        </p>
                    </div>
                </div>
                <!-- End Of Fnd Styl Search -->
            </div>
        </div>
    </section>

    <!-- Featured Hair Stylist In Your Area -->
    <section class="section" id="featured-stylists">
        <div class="container">
            <div class="columns">
                <div class="column is-12" id="fs-container">
                    <div class="card-grid">
                        <div class="card voh-card-3" ng-repeat="stylist in stylists">
                            <div class="card-image voh-card-image">
                                <figure class="image is-3by2">
                                    <img src="images/fs-one.jpg" alt="">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content voh-card-content">
                                    <h1>{{stylist.name}}</h1>
                                    <p>{{stylist.city}}, {{stylist.state}}</p>
                                    <a href="single-stylist.html" class="button read-more-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Card Grid -->
                    <div id="load-more-container">
                        <a href="#" class="button load-btn is-large">Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>    

    <!-- Footer Section -->
    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column is-6" id="left-footer-section">
                    <div id="footer-logo">
                        <a href="index.html">
                            <img src="images/logo.png" alt="VOH Logo">
                        </a>
                    </div>
                    <div id="footer-slogan">
                        <p>Helping people find the right stylist.</p>
                    </div>
                </div>
                <!-- end of left-footer-section -->
                <div class="column is-6" id="right-footer-section">
                    <div id="footer-join-slogan">
                        <p>Become A Member Of Voice Of Hair</p>
                    </div>
                    <div id="footer-join-btn">
                        <a href="signup.html" class="button action-btn">Sign Up</a>
                    </div>
                </div>
                <!-- end of right-footer-section -->
            </div>
            <div class="columns">
                <div class="column is-12" id="footer-social-section">
                    <div id="footer-social-icons">
                        <a href="#" class="social-icon"><img src="images/insta-icon.png" alt=""></a>
                        <a href="#" class="social-icon"><img src="images/pinterest-icon.png" alt=""></a>
                        <a href="#" class="social-icon"><img src="images/facebook-icon.png" alt=""></a>
                        <a href="#" class="social-icon"><img src="images/twitter-icon.png" alt=""></a>
                        <a href="#" class="social-icon"><img src="images/g-plus-icon.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="bottom-footer">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <p>&copy; 2016 voiceofhair.com All Rights Reserved</p>
                </div>
                <div class="column">
                    <div id="bottom-footer-links">
                        <a href="about.html">About</a>
                        <a href="#">Legal Information</a>
                        <a href="contact.html">Contact</a>
                        <a href="#">Terms Of Service</a>
                        <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="js/vendor/jquery-3.0.0.min.js"></script>
<script src="js/vendor/angular.min.js"></script>
<script src="js/vendor/lodash.min.js"></script>
<script src="js/vendor/stylist.js"></script>

<!--Angular Application-->
<script src="js/app/app.js"></script>

<script src="js/app/stylists/stylist.controller.js"></script>
</body>
</html>