<!-- For Stylists Form -->
<section class="section" id="fr-stylists-sign-up-section">
    <div class="container">
        <div class="columns">
            <div class="column is-12">
                <div class="fr-stylists-form-container">
                    <div class="fr-stylists-frm-intro">
                        <h1>Sign Up To Be A Member of Voice of Hair</h1>
                        <h2>You get access to all articles, expert videos, and Featured Stylists in your area.</h2>
                    </div>
                    <div class="fr-stylists-frm">
                        <p class="control">
                            <input type="text" placeholder="Name" class="input is-large" ng-model="data.name">
                        </p>
                        <p class="control">
                            <input type="email" placeholder="Email" class="input is-large" ng-model="data.email">
                        </p>
                        <div class="columns">
                            <div class="column is-6">
                                <p class="control">
                                    <input type="password" placeholder="Password" class="input is-large" ng-model="data.password">
                                </p>
                            </div>
                            <div class="column is-6">
                                <p class="control">
                                    <input type="password" placeholder="Confirm Password" class="input is-large">
                                </p>
                            </div>
                        </div>
                        <hr>
                        <label class="checkbox signup-check-radio">
                            <input type="checkbox" value="natural">I agree to the terms of use and privacy
                        </label>
                    </div>
                    <div id="account-container">
                        <a class="button account-btn is-large" ng-click="submitUser()">Create Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
